html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
.header {
    margin-top: 5px;
    margin-left: 22px;
    margin-bottom: 3px;
}