html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
#top {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: ;
    z-index: 1;
}






.header {
    margin-top: 4px;
    margin-left: 22px;
    margin-bottom: 3.5px;
}
.logotip {
    font-family: "Oswald";
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    margin-right: 14px;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;user-select: none;
}